:root {
  --px: 10px;
  --fragma: "Fragma Medium", Helvetica, Arial, sans-serif;
  --eve-sans-neue-expanded: "Eve Sans Neue Expanded", Helvetica, Arial, sans-serif;
  --eve-sans-neue-condensed: "Eve Sans Neue Condensed", Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--fragma);
  background-color: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#demo-container {
  position: relative;
  width: auto;
  max-width: 100%;
  text-align: center;
}

[data-augmented-ui] {
  box-sizing: border-box;
}

eve-server-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: center;
  padding: 15px;
  border: 1px solid white;
  border-radius: 3px;
  transition: ease 600ms;
}

eve-server-status section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

eve-server-status table {
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

eve-server-status h2, 
eve-server-status h4 {
  text-align: center;
  margin: 0.25em 0;
  white-space: nowrap;
}

eve-server-status:hover {
  box-shadow:
    0 0 15px rgba(255,255,255,.5),
    0 0 25px rgba(255,255,255,.25);
}
